:root{
	--mainColor: #0e100b;
    --secondaryColor: #1c2017;
    --borderColor: #2a2e27;

	--mainText:#fff;
	--secondaryText: #c9c2c2;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#161813;
	--previewthickShadow:#2a2f25;


	--buttonColor:#669966;


}
