
/* DROP DOWN MENU START */
.main-container{
	width: 1200px;
	margin: 0 auto;
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;

}

.site-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}
.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}


#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
	font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--previewShadow);
    padding: 1rem;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#menu-icon{
	width: 30px;
	margin-right:10px;
	cursor: pointer;
	display: none;
}

#close-btn{
	display: none;
	cursor: pointer;
	padding: 10px;
	margin: 0;

}


@media screen and (max-width: 1080px){
	#navigation{
		display: none;
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0 0 5px 5px;
		width: 95%;
		background-color: var(--previewShadow);
		padding: 0;
		z-index:998;
		border: 2px solid var(--borderColor);
		-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	}

	#navigation li{
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		border-top:2px solid var(--borderColor);
			
		font-size: 18px;
		text-align: center;
		margin:0;
	}

	#menu-icon{
		display: block;
	}

}

/* DROP DOWN MENU END */