.site-wrap{
    position: absolute;
}
.search{
    // position: relative;
    // top: 3rem;
    // right: 3rem;
    background-color: var(--borderColor);
    width: 30%;
    float: right;
    padding:1rem 2rem;
    text-align: centre ;
    
}
.s-form{
    width:100%
}