.home {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;

    &-title{
        display: grid;
        text-align: center;
        min-height: 10em;

    }




}

.container-1 {
    width: 80%;
    margin: 0 auto;
}


.dots{
	display: flex;
	padding: 10px;


    &-dot {
        background-color: black;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 5px;
        -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
        box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    }
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}





.left-column{
	grid-area: left-column;
	padding-top:5rem;
	padding-bottom: 5rem;
}

#profile_pic{
	display: block;
	margin:0 auto;
	width: 25rem;
	object-fit: cover;

}


#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 20px;
	width: 20px;
	background-color: black;
	border-radius: 20%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: 6dacdf;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
    background-image: url(/frontend/new-1.jpg);
    background-size: cover;
    background-position: top;
    background-position: center center;
    margin: 7rem;
    background-color: var(--previewthickShadow);
	border-radius: 2rem;
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
    margin:0 auto;
}
.pos2{
    margin:0 auto;
    position: absolute;

}

#preview{
	width: 300px;
	//border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}
.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;

}
.align-g{
	justify-items: center;
	align-items: center;

}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}
