.testimonial {
    max-width: 800px;
    margin: 0 auto !important;
    text-align: center; 
}
.testimonial blockquote {
    font-size: 1.5rem;
    font-style: italic;
}
.testimonial figure img {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 50%; 
}
  
.person h3 {
    font-size: 18px;
}
  
.testimonial-wrap .owl-nav {
    display: none; 
}
  
.owl-carousel.owl-loaded {
    display: block;
}
.slide-one-item {
    position: relative;
    z-index: 1;
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel .owl-stage {
    position: relative;
   
    
}

.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}


element.style {
    transform: translate3d(-2298px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 9192px;
}
.owl-carousel .owl-stage {
    position: relative;
   
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
