.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
 .icon-s{
    display: flex;
    flex-direction: row;
    gap:2rem;
    flex-basis: 100%;
 }


.fEtoBf .external-link {
    display: flex;
    -webkit-box-align: end;
    align-items: end;
    font-size: 16px;
    line-height: 24px;
    color: rgb(7, 90, 255);
    margin-top: 24px;
}

.iGIqOk {
    display: inline-flex;
    margin: 0px 0px 0px 6px;
}


.iGIqOk svg {
    width: 15px;
    height: 15px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}