//COLORS
$color-primary: #007bff;
$color-primary-light: #278bf5;
$color-primary-dark: #0464cb;
$color-secondary: rgb(0, 175, 0);

$color-grey-dark: #808080;
$color-grey-dark-2: rgb(161, 159, 159);
$color-grey-dark-3: #302f2f;;
$color-nav-visited:rgba(255, 255, 255, 0.7);
$color-bar:rgba(gray, 0.1);
$color-light: #b3b3b3;

$color-button-grey:#6c757d;
$color-button-main:#007bff;
$color-team-sub: #cccccc;

$color-footer-back:#333333;


$color-white: #fff;
$color-black: #000;
$color-black-light: rgba($color-black, 0.7);

// FONT
$default-font-size: 1.7rem;


//GRID
$grid-width: 114rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;